{% extends 'base.html' %}
{% load static %}

<!--Set title-->
{% block title %}
index
{% endblock title %}

<!--Add css-->
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

<!--Add body content-->
{% block body %}
<!--Header Section-->
<section>
    <!--Header-->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-transperent">
            <div class="container-fluid">
                <a class="navbar-brand xxxs-none" href="#">
                    <img src="{% static 'img/HeaderLogo.png' %}" class="navLogo" alt="Logo">
                </a>

                <!--Toggle -->
                <div class="d-flex justify-content-end d-lg-none">
                    <a href="#" class="navButton toggleFont d-none d-sm-block" tabindex="-1" role="button"
                        aria-disabled="true">Pricing</a>
                    <a href="#" class="navButton toggleFont d-none d-sm-block" tabindex="-1" role="button"
                        aria-disabled="true">Login</a>
                    <a href="#" class="btn btn-primary toggleFont navButton xxs-none" tabindex="-1" role="button"
                        aria-disabled="true">Sign up</a>
                    <button class="navbar-toggler border-0 text-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars navHamburger"></i>
                    </button>
                </div><!--Toggle-->

                <!--Navlink-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item navLinkBg">
                            <a class="nav-link navLinkFont active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item navLinkBg">
                            <a class="nav-link navLinkFont" href="#">Features</a>
                        </li>
                        <li class="nav-item d-sm-none navLinkBg">
                            <a class="nav-link navLinkFont" href="#">Pricing</a>
                        </li>
                        <li class="nav-item d-sm-none navLinkBg">
                            <a class="nav-link navLinkFont" href="#">Login</a>
                        </li>
                        <li class="nav-item d-none xxs-block navLinkBg">
                            <a href="#" class="btn btn-primary navLinkFont navLinkButton" tabindex="-1" role="button"
                                aria-disabled="true">Sign up</a>
                        </li>
                    </ul>
                </div><!--Navlink-->

                <a href="#" class="navButton navLinkFont d-none d-lg-block" tabindex="-1" role="button"
                    aria-disabled="true">Pricing</a>
                <a href="#" class="navButton navLinkFont d-none d-lg-block" tabindex="-1" role="button"
                    aria-disabled="true">Login</a>
                <a href="#" class="btn btn-primary navLinkFont navButton d-none d-lg-block xxs-none" tabindex="-1"
                    role="button" aria-disabled="true">Sign up</a>
            </div>
        </nav><!--End Navbar-->

        <div class="container-fluid p-3 mt-7">
            <div class="row">

                <div class="col-lg-6 col-md-6 h-100 text-center text-light my-auto">
                    <div class="container">
                        <div class="conatainer text-start mt-3">
                            <h1 class="m-0">Here is Heading</h1>
                            <h1 class="m-0">Heading may be large</h1>
                            <div class="container p-0 pt-2 headningText">
                                Here is some additional text
                                <br>
                                Like brief description of the company
                                <br>
                                It may briefdescription of the new product
                                <br>
                                It may new scheme for the users
                            </div>
                            <div class="container-fluid p-0 ">
                                <button class="btn mt-3 headerStart" >Start Now</button>
                            </div>
                        </div>
                    </div>

                </div>
                
                <!--Video frame-->
                <div class="col-lg-6 col-md-6 text-center mt-2 p-3">
                    <div class="ratio ratio-16x10">
                        <iframe src="https://www.youtube.com/embed/t0Q2otsqC4I" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div><!--End Video frame-->
            </div>
        </div>
    </header><!--End header-->
</section><!--End section-->
{% endblock body %}

<!--Add javascript-->
{% block js %}
<!--Index page javascript file-->
<script src="{% static 'js/index.js' %}"></script>
{% endblock js %}